<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="ionic-plugin-yoosee"
    version="2.2.1">
    <name>yoosee</name>
    <description>Ionic yoosee Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Ionic,yoosee</keywords>
    <repo></repo>
    <issue></issue>


    <!-- android -->
    <platform name="android">
		<hook type="after_plugin_install" src="hooks/after_plugin_installed.exe" />
        <js-module src="www/yoosee.js" name="yoosee">
            <runs/>
            <clobbers target="cordova.plugins.yoosee" />
        </js-module>
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="yoosee">
              <param name="android-package" value="com.weforpay.plugin.yoosee.Yoosee" />
              <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:name="com.weforpay.plugin.yoosee.LoginActivity"
				android:icon="@drawable/icon"
				android:label="monitorLogin"
				>
			</activity>
			<activity android:name="com.weforpay.plugin.yoosee.MonitorActivity"></activity>		
        </config-file>

        <source-file src="src/android/monitor/Yoosee.java" 	target-dir="src/com/weforpay/plugin/yoosee" />
		<source-file src="src/android/monitor/LoginActivity.java" 	target-dir="src/com/weforpay/plugin/yoosee" />
		<source-file src="src/android/monitor/MonitorActivity.java" 	target-dir="src/com/weforpay/plugin/yoosee" />
		<source-file src="src/android/monitor/MyApp.java" 	target-dir="src/com/weforpay/plugin/yoosee" />
		<source-file src="src/android/monitor/P2PListener.java" 	target-dir="src/com/weforpay/plugin/yoosee" />
		<source-file src="src/android/monitor/SettingListener.java" 	target-dir="src/com/weforpay/plugin/yoosee" />
		<source-file src="src/android/libs/p2p-core.jar" 	target-dir="libs" />
		
		<source-file src="src/android/layout/activity_monito.xml" 	target-dir="res/layout" />
		
		<source-file src="src/android/libs/android-support-v4.jar" 	target-dir="libs" />
		<source-file src="src/android/libs/armeabi/libelianjni.so" 	target-dir="libs/armeabi" />
		<source-file src="src/android/libs/armeabi/libmediaplayer.so" 	target-dir="libs/armeabi" />
		<source-file src="src/android/libs/armeabi/libSDL.so" 	target-dir="libs/armeabi" />
		<source-file src="src/android/libs/armeabi-v7a/libelianjni.so" 	target-dir="libs/armeabi-v7a" />
		<source-file src="src/android/libs/armeabi-v7a/libmediaplayer.so" 	target-dir="libs/armeabi-v7a" />
		<source-file src="src/android/libs/armeabi-v7a/libSDL.so" 	target-dir="libs/armeabi-v7a" />

		
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/yoosee.js" name="yoosee">
            <runs/>
            <clobbers target="cordova.plugins.yoosee" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="yoosee">
                <param name="ios-package" value="yoosee" onload="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/yoosee.h"/>
        <source-file src="src/ios/yoosee.m"/>
        <header-file src="src/ios/ViewController.h"/>
        <source-file src="src/ios/ViewController.m"/>
        <header-file src="src/ios/P2P/config.h" target-dir="P2P"/>
        <header-file src="src/ios/P2P/Constants.h" target-dir="P2P"/>
        <header-file src="src/ios/P2P/OpenGLView.h" target-dir="P2P"/>
        <source-file src="src/ios/P2P/OpenGLView.m" target-dir="P2P"/>
        <header-file src="src/ios/P2P/P2PCInterface.h" target-dir="P2P"/>
        <header-file src="src/ios/P2P/P2PClient.h" target-dir="P2P"/>
        <source-file src="src/ios/P2P/P2PClient.m" target-dir="P2P"/>
        <header-file src="src/ios/P2P/PAIOUnit.h" target-dir="P2P"/>
        <source-file src="src/ios/P2P/PAIOUnit.m" target-dir="P2P"/>
        
        <header-file src="src/ios/MD5/MD5.h" target-dir="MD5"/>
        <source-file src="src/ios/MD5/MD5.m" target-dir="MD5"/>
        
        <header-file src="src/ios/MD5Pwd/MD5Manager.h" target-dir="MD5Pwd"/>
        <header-file src="src/ios/MD5Pwd/Utils.h" target-dir="MD5Pwd"/>
        <source-file src="src/ios/MD5Pwd/Utils.m" target-dir="MD5Pwd"/>
        <source-file src="src/ios/MD5Pwd/libMD5Manager.a" framework="true" compiler-flags="-objc" target-dir="MD5Pwd" />
        
        <source-file src="src/ios/P2P/Files/libAVCtrl_arm64.a" framework="true" compiler-flags="-objc" target-dir="P2P/Files" />
        <source-file src="src/ios/P2P/Files/libAVCtrl_armv7.a" framework="true" compiler-flags="-objc" target-dir="P2P/Files" />
        <source-file src="src/ios/P2P/Files/libAVCtrl_armv7s.a" framework="true" compiler-flags="-objc" target-dir="P2P/Files" />
        <source-file src="src/ios/P2P/Files/libAVCtrl_i386.a" framework="true" compiler-flags="-objc" target-dir="P2P/Files" />
        
        <framework src="QuartzCore.framework" weak="true"/>
        <framework src="AVFoundation.framework" weak="true"/>
        <framework src="MediaPlayer.framework" weak="true"/>
        <framework src="AudioToolbox.framework" weak="true"/>
        <framework src="MediaToolbox.framework" weak="true"/>
        <framework src="CoreMedia.framework" weak="true"/>
        <framework src="CoreVideo.framework" weak="true"/>
        <framework src="CoreAudio.framework" weak="true"/>
        <framework src="CoreGraphics.framework" weak="true"/>
        <framework src="OpenGLES.framework" weak="true"/>
        <framework src="OpenAL.framework" weak="true"/>
        <framework src="libbz2.1.0.tbd" weak="true"/>
        <framework src="libiconv.tbd" weak="true"/>
        <framework src="libz.tbd" weak="true"/>
        <framework src="libsqlite3.0.tbd" weak="true"/>
    </platform>

</plugin>
